In [1]:
# Q1- convert an integer to a floating- point number.

In [23]:
#lets take an integer 15 in a variable 'a'.
a = 15
type(a)

int

In [38]:
#now converting an integer into a float.
float(a)

15.0

In [39]:
# now storing in variable 'b' and checking the type of variable 'b'.
b = float(a)
type(b)

float

In [ ]:
# Q2- convert a float to an integer.

In [40]:
#lets take a float 35.5 in a variable 'c'
c = 35.5
type(c)

float

In [41]:
#now converting a float to an integer
int(c)

35

In [44]:
# now storing in a variable 'd' and checking the type of 'd'.
d = int(c)
type(d)

int

In [45]:
# Q3- convert an integer into a string.

In [52]:
# taking an integer 14 in a variable 'e'.
e = 14
type(e)

int

In [51]:
# converting an integer in string.
str(e)

'14'

In [50]:
# storing in a variable 'f' and checking its type.
f = str(e)
type(f)

str

In [53]:
# Q4- convert a list to a tuple.

In [54]:
# making a list in variable 'my_list'.
my_list = ['anas', 'akshay', 14, 16 ]
type(my_list)

list

In [55]:
# converting the list into tuple.
tuple(my_list)

('anas', 'akshay', 14, 16)

In [56]:
# storing in a variable 'g' and checking its type.
g = tuple(my_list)
type(g)

tuple

In [ ]:
# Q5- converting tuple into a list.

In [62]:
# creating a tuple in a variable 'my_tup'.
my_tup = ('abhishek', 'ajay', 74, 67 )
type(my_tup)

tuple

In [63]:
# converting tuple into list.
list(my_tup)

['abhishek', 'ajay', 74, 67]

In [61]:
# storing in variable 'h' and checking its type.
h = list(my_tup)
type(h)

list

In [64]:
# Q6- convert a decimal number to binary.

In [1]:
i = 42
type(i)

int

In [2]:
bin(i)

'0b101010'

In [70]:
# decimal number cannot be convert to binary using bin function.

In [74]:
# Q7- convert non-zero number to boolean.

In [88]:
# taking a non zero number '14' in a variable 'j'
j = 14

In [89]:
# converting the number to boolean.
bool(j)

True

In [90]:
# storing in a variable 'k' and checking its type.
k = bool(j)
type(k)

bool